{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>
       
       <form action="{% url 'createproduct' %}" method = "POST">
        {% csrf_token %}
         {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}

        <h1>Add Product</h1> 
        <label for="name">Name </label><br>
        <input id="name" type="text" name ="name" required><br>
        <label for="description">Description</label><br>
        <textarea id ="description" type="text" name= "description" rows="6" cols="30" required ></textarea><br>
        <label for="price" >Price</label><br>
        <input id ="price" type="number" name="price" ><br>
        <button type="submit">Add Product</button>
    </form>
</body>
</html>