{% include 'navbar.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>delete product</title>
</head>
<body>
     <form action="{% url 'deleteproduct' %}" method="POST">
        {% csrf_token %}
        <label for="product"> Select the product</label>
        <select name="productid" id="product">
            {%for product in products%}
            <option value="{{product.id}}">{{product.name}}</option>
            {%endfor%}
        </select><br>
        <button id="deletebtn" type = "submit"> Delete Product</button>
     </form>
    
</body>
</html>